{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Capstone Project</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Custom-File-Upload.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Custom-File-Upload.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <style type="text/css">
        /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md text-left border rounded-0" style="opacity: 1;">
        <div class="container-fluid"><a class="navbar-brand" href="index.html">Text Recognition</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-secondary"
                id="navcol-1">
                <ul class="nav navbar-nav text-capitalize border rounded shadow-sm ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Character Recognition</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/translate">Translation</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/summ">Summarization</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/tts">Text2Speech</a></li>
<!--                    <li class="nav-item" role="presentation"><a class="nav-link" href="text%20to%20speech.html">Text to speech</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
    <div id="promo">
{% block content %}
<h1>Character Recognition</h1>
{% if uploaded_file_url == none %}
        <p>Upload an Image you want to convert it into text</p>
  <form method="post" enctype="multipart/form-data" action="/">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
{% endif %}
</div>
<div class="container">
  {% if uploaded_file_url %}
    <p><h1>Text on image is: </h1>
    	<div class="row">{{ im }}</div>
        {% if trans %}<h1>Translation</h1>
        <div class="row">{{ trans }}</div>{% endif %}
    </p>
    <br>
    <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'translate')">Translate</button>
  <button class="tablinks" onclick="openCity(event, 'summarize')">Summarize</button>
  <button class="tablinks" onclick="openCity(event, 'summarize')">Translate the Summary</button>
</div>

<div id="translate" class="tabcontent">
  <h3>Translate</h3>
  <form method="post" enctype="multipart/form-data" action="/">
    {% csrf_token %}
    <input type="hidden" value="{{ uploaded_file_url }}" name="tyfile"><br>
    <select type="text" name="language">
    <option >Select Language</option>
    <option value="english">English</option>
    <option value="hindi">Hindi</option>
    <option value="punjabi">Punjabi</option>
    <option value="marathi">Marathi</option>
  </select><br>
    <button type="submit">Upload</button>
  </form>
</div>

<div id="summarize" class="tabcontent">
  <h3>Summarize</h3>
  <p>{{ summ }}</p> 
</div>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
  {% endif %}


  <p><a href="/">Read Other Image</a></p>
  </div>
{% endblock %}

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Capstone Group 56</p>
        </footer>
    </div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/Custom-File-Upload.js"></script>
</body>

</html>