{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>Text Summarizer</h1>
{% if summ == none %}
        <p>Type text which you wanna summarize</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="text" rows="20" cols="100"></textarea><br>
    <button type="submit">Upload</button>
  </form>
{% endif %}
</div>
<div class="container">
  {% if summ %}
    <p><h1>Text given is:</h1> 
        <div class="row">{{ im }}</div>
        <br><br><br><h1>Summarized</h1><br><br>
        <div class="row">{{ Summ }}</div>
    </p>
  {% endif %}

  <p><a href="/summ">Summarize Other Text</a></p>
  </div>
{% endblock %}